<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from demo.cantothemes.com/html/NewTravellers/fullwidth/ by HTTrack Website Copier/3.x [XR&CO'2008], Wed, 17 Feb 2016 07:27:04 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>New Travellers Lodge</title>

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic|Playfair+Display:400,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <!-- Bootstrap -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet">

    <link href="~/Content/css/owl.carousel.css" rel="stylesheet">
    <link href="~/Content/css/owl.theme.css" rel="stylesheet">
    <link href="~/Content/css/owl.transitions.css" rel="stylesheet">
    <link href="~/Content/css/cs-select.css" rel="stylesheet">
    <link href="~/Content/css/bootstrap-datepicker3.min.css" rel="stylesheet">
    <link href="~/Content/css/freepik.hotels.css" rel="stylesheet">
    <link href="~/Content/css/nivo-lightbox.css" rel="stylesheet">
	<link href="~/Content/css/nivo-lightbox-theme.css" rel="stylesheet">
    <link href="~/Content/css/style.css" rel="stylesheet">
    <link rel="icon" href="~/Content/images/dicon.ico" type="image/png">



    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
		<script src="~/Content/js/html5shiv.min.js"></script>
		<script src="~/Content/js/respond.min.js"></script>
		<![endif]-->
    <script src="~/Content/js/modernizr.custom.min.js"></script>
</head>
<body>
    <header class="header transp sticky">
        <!-- available class for header: .sticky .center-content .transp -->
        <nav class="navbar navbar-inverse">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img src="/Content/images/ntl-logo.png" alt="logo"></a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    @RenderSection("navigation", required:true)
                </div>
                <!-- /.navbar-collapse -->

            </div>
            <!-- /.container-fluid -->
        </nav>
    </header>


    @RenderSection("featured", required: false)
    @RenderBody()

    <footer class="mg-footer">
        <div class="mg-footer-widget">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="widget">
                            <h2 class="mg-widget-title">Contact US</h2>
                            <address>
                                <strong>New Travellers Lodge</strong><br>
                                161 Lagos Abeokuta expressway, araromi bus-stop beside access bank iyana-ipaja, lagos state.
                            </address>

                            <p>
                                +2348025872871<br/>
                                +2347066922381<br/>
                                +2348023601362
                            </p>

                            <p>
                                <a href="mailto:info@travellerslodge.com.ng">info@travellerslodge.com.ng</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="widget">
                            <h2 class="mg-widget-title">Gallery</h2>
                            <ul class="mg-instagram">
                                <li><a href="/Home/Gallery">
                                    <img src="/Content/images/ins-01.jpg" alt=""></a></li>
                                <li><a href="/Home/Gallery">
                                    <img src="/Content/images/ins-02.jpg" alt=""></a></li>
                                <li><a href="/Home/Gallery">
                                    <img src="/Content/images/ins-03.jpg" alt=""></a></li>
                                <li><a href="/Home/Gallery">
                                    <img src="/Content/images/ins-04.jpg" alt=""></a></li>
                                <li><a href="/Home/Gallery">
                                    <img src="/Content/images/ins-05.jpg" alt=""></a></li>
                                <li><a href="/Home/Gallery">
                                    <img src="/Content/images/ins-06.jpg" alt=""></a></li>
                                <li><a href="/Home/Gallery">
                                    <img src="/Content/images/ins-07.jpg" alt=""></a></li>
                                <li><a href="/Home/Gallery">
                                    <img src="/Content/images/ins-08.jpg" alt=""></a></li>
                                <li><a href="/Home/Gallery">
                                    <img src="/Content/images/ins-09.jpg" alt=""></a></li>
                            </ul>
                        </div>
                    </div>
                    @*<div class="col-md-3 col-sm-6">
                        <div class="widget">
                            <h2 class="mg-widget-title">Newsletter</h2>
                            <p>Sunscribe to our newsletter to always get a feed from us</p>
                            <form>
                                <p>
                                    <input type="email" class="form-control" placeholder="Your Email">
                                </p>
                                <input type="submit" class="btn btn-main" value="Subscribe">
                            </form>
                        </div>
                    </div>*@
                    <div class="col-md-4 col-sm-6">
                        <div class="widget">
                            <h2 class="mg-widget-title">Social Media</h2>
                            <p>Connect with us on social media</p>
                            <ul class="mg-footer-social">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-rss"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mg-copyright">
            <div class="container">
                <div class="row">

                    <div class="col-md-6">
                        <ul class="mg-footer-nav">
                            <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                            <li><a href="@Url.Action("Rooms", "Home")">Rooms</a></li>
                            <li><a href="@Url.Action("Gallery", "Home")">Gallery</a></li>
                            <li><a href="@Url.Action("About", "Home")">About Us</a></li>
                            <li><a href="@Url.Action("Contact", "Home")">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <p>&copy; 2015. All rights reserved. <span class="text-warning">Website developed by: Elektron (yusuf.oguntola@gmail.com, 07061543553)</span></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="~/Content/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/owl.carousel.min.js"></script>
    <script src="~/Content/js/jssor.slider.mini.js"></script>
    <script src="~/Content/js/classie.js"></script>
    <script src="~/Content/js/selectFx.js"></script>
    <script src="~/Content/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Content/js/starrr.min.js"></script>
    <script src="~/Content/js/nivo-lightbox.min.js"></script>
    <script src="~/Content/js/jquery.shuffle.min.js"></script>
    @*<script src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script src="~/Content/js/gmaps.min.js"></script>*@
    <script src="~/Content/js/jquery.parallax-1.1.3.js"></script>
    <script src="~/Content/js/script.js"></script>
    @RenderSection("scripts", required: false)
</body>

<!-- Mirrored from demo.cantothemes.com/html/NewTravellers/fullwidth/ by HTTrack Website Copier/3.x [XR&CO'2008], Wed, 17 Feb 2016 07:32:50 GMT -->
</html>
